<!-- 
*******************************Header Logo Left**********************
-->

<!--Static Header -->
<div class="bottom-header static-header type-logo-left">
    <div class="box-logo-and-button">
        {{> logo}}
        {{> button-menu-mobile}}
    </div>

    <div class="box-menu-and-buttons">
        {{> logo}}
        {{> menu-principal}}
        
        <div class="box-buttons">
            {{> buttons-menu-wc }}
            {{> button-menu-lateral}}
        </div>
    </div>
</div>


<!--Sticky Header -->

<div class="bottom-header sticky-header type-logo-left">
    <div class="box-logo-and-button">
        {{> logo}}
        {{> button-menu-mobile}}
    </div>

    <div class="box-menu-and-buttons">
        {{> logo}}
        {{> menu-principal}}
        
        <div class="box-buttons">
            {{> buttons-menu-wc }}
            {{> button-menu-lateral}}
        </div>
    </div>
</div>