<!-- 
*******************************Header Logo Right**********************
-->

<!--Static Header -->
<div class="bottom-header static-header type-logo-right">
    <div class="box-logo-and-button">
        {{> logo}}
        {{> button-menu-mobile}}
    </div>

    <div class="box-menu-and-buttons">
        <div class="box-buttons">
            {{> button-menu-lateral}}
            {{> buttons-menu-wc }}
        </div>

        {{> menu-principal}}

        {{> logo}}
    </div>
</div>


<!--Sticky Header -->

<div class="bottom-header sticky-header type-logo-right">
    <div class="box-logo-and-button">
        {{> logo}}
        {{> button-menu-mobile}}
    </div>

    <div class="box-menu-and-buttons">
        
        <div class="box-buttons">
            {{> button-menu-lateral}}
            {{> buttons-menu-wc }}
        </div>

        {{> menu-principal}}

        {{> logo}}
    </div>
</div>