<!-- 
*******************************Header Logo Center**********************
-->

<!--Static Header -->
<div class="bottom-header static-header type-logo-center">
    <div class="box-logo-and-button">
        {{> logo}}
        {{> button-menu-mobile}}
    </div>
    <div class="box-menu-and-buttons">
        <div class="row justify-content-between">
            <div class="col-12 col-md-5">
                {{> menu-principal}}
            </div>
            <div class="col-12 col-md-2">
                {{> logo}}
            </div>
            <div class="col-12 col-md-5">
                <div class="d-flex justify-content-end">
                    {{> menu-secondary}}
                    <div class="box-buttons">
                        {{> buttons-menu-wc }}
                        {{> button-menu-lateral}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Sticky Header -->

<div class="bottom-header sticky-header type-logo-center">
    <div class="box-logo-and-button">
        {{> logo}}
        {{> button-menu-mobile}}
    </div>

    <div class="box-menu-and-buttons">
        <div class="row justify-content-between">
            <div class="col-12 col-md-5">
                 {{> menu-principal}}
            </div>
            <div class="col-12 col-md-2">
                {{> logo}}
            </div>
            <div class="col-12 col-md-5">
                <div class="d-flex justify-content-end">
                    {{> menu-secondary}}
                </div>
            </div>
        </div>
    </div>
</div>