<div class="box-menu-nav-mobile box-shadow">
    {{> logo}}
    <nav>
        <ul class="nav">
            <li class="nav-item"><a href="#" class="nav-link">Item</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Item</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Item</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Item</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Item</a></li>
        </ul>
    </nav>
</div>