<div class="box-menu-nav">
    <nav>
        <ul class="nav">
            <li class="nav-item"><a href="index.html" class="nav-link">Logo superior</a></li>
            <li class="nav-item"><a href="header-logo-left.html" class="nav-link">Logo left</a></li>
        </ul>
    </nav>
</div>