<div class="box-top-header">
    <div class="box-info-menu">
        <ul class="nav">
            <li class="nav-item"><a href="#" class="nav-link">correo@prueba.com</a></li>
            <li class="nav-item"><a href="#" class="nav-link">correo@prueba.com</a></li>
            <li class="nav-item"><a href="#" class="nav-link">correo@prueba.com</a></li>
        </ul>
    </div>
    {{> social-icons}}
</div>